
.dialog-container {
    padding: 1rem 1.4rem;

    width: 400px;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
}

.close-btn {

    &:hover {
        cursor: pointer;
        color: red;
    }
}

.property-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    gap: 1rem;
}