<mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" opened #drawer class="drawer-container__drawer">
        <div class="menu">
            <h2>
                Menu
            </h2>

            <button mat-raised-button color="primary" (click)="addPropertyToList()">
                <mat-icon>add</mat-icon>Add property
            </button>
        </div>
    </mat-drawer>
    <mat-drawer-content class="drawer-content">
        <h1>Property list</h1>
        <div class="properties-container">
            <ng-container *ngFor="let currentProperty of propertyList">
                <app-property-display (deletePropertyEvent)="deleteProperty($event)" [property]="currentProperty"></app-property-display>
            </ng-container>
        </div>
    </mat-drawer-content>
</mat-drawer-container>